 /* versão mobile */
.opcoes{
    display: none;
}

 /* versão tablet */
 @media screen and (min-width:1024px){
    .opcoes{
        display: block;
    }
    .opcoes__rotulo{
        display: flex;
    }
    .opcoes__botao{
        display: none;
    }
    .opcoes__botao:checked~.listaMenu{
        display: block;
    }
    .opcoes__botao:checked~.opcoes__rotulo{
        background: var(--azul-degrade);
    }
    .opcoes__imagem{
        padding: 1.5em;
    }
    .listaMenu{
        display: none;
        position: absolute;
        top : 83%;
        padding: 0;
        width: 60vw;
        list-style: none;
        margin-left: -16px;
    }
    .listaMenuItem{
        padding: 1em;
        background-color: var(--branco);       
    }
    .listaMenuLink{
        background: var(--azul-degrade);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
    }
 }