 /* versão mobile */
 .banner__areainput{
    width: 100%;
 }
.banner__pesquisa{
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 0.7em;
    width: 100%;
}
.banner__pesquisa::placeholder{
    /* texto */
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight:400;
    text-align: center;
    color:var(--branco);
    margin-right: -3em;
    /* lupa */
    background: url(../../assets/Lupa.svg)no-repeat;
    background-position: 2em;   
}
.banner__pesquisa:focus{
    outline: none;
}